$primary: #016fb9;
$secondary: #53bc4f;
$maxContainerWidth: 1128px;
$blockPadding: 2.4rem;
$bgMain: #f3f3f3;
$colorMain: #3a3a3a;

$fontSizeSmall: 1.2rem;
$fontSizeRegular: 1.8rem;
$fontSizeBig: 2rem;
$fontSizeHuge: 4rem;
